<h1>결과입니다.</h1>
신이 <%= @name %> 을(를) 만들 때<br><br>
<% @result.each_with_index do |r,index| %>
    <%= r %> <%= @spoon[index] %> 스푼 <br>
<% end %>
<!--
 <%= @result[0] %> <%= @spoon[0] %> 스푼 <br>
<%= @result[1] %> <%= @spoon[1] %>스푼<br>
<%= @result[2] %> <%= @spoon[2] %>스푼<br>
-->